<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <script>
  function check(){
  if (document.getElementById('password').value == '' || document.getElementById('confirmPassword').value==''){
    document.getElementById('message').innerHTML = '';
  }
  else{
    if (document.getElementById('password').value ==
      document.getElementById('confirmPassword').value) {
      document.getElementById('message').style.color = 'green';
      document.getElementById('message').innerHTML = 'matching';
    } else {
      document.getElementById('message').style.color = 'red';
      document.getElementById('message').innerHTML = 'not matching';
    }
  }
}

    </script>
    <meta charset="UTF-8">
    <title>Cents&Dollars</title>
</head>
<body>
<div th:insert="navigationbar :: employeeNavbar">  </div>
<div class="container" align="center">
    <!-- Tabs Titles -->
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <h1> Register New User</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <form action="#" th:action="@{/employee/addUser}" th:object="${newUserModel}" method="post">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <br>
                    <input class="form-control" type="text" id="firstName" name="firstName" th:field="*{firstName}"
                           placeholder="First Name"
                           autofocus="autofocus" pattern="[a-zA-Z]{3,15}" title="Only characters allowed" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <br>
                    <input class="form-control" type="text" pattern="[a-zA-Z]{3,15}" title="Only characters allowed" id="lastName" name="lastName" th:field="*{lastName}"
                           placeholder="Last Name"
                           required>
                </div>
                <div class="form-group">
                    <label for="userAddress">Address</label>
                    <br>
                    <input class="form-control" type="text" id="userAddress" name="userAddress" th:field="*{userAddress}"
                           placeholder="Address"
                           required>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <br>
                    <input class="form-control" type="text" pattern="[a-zA-Z ]{3,15}" title="Only characters allowed" id="city" name="city" th:field="*{city}" placeholder="City"
                           required>
                </div>
                <div class="form-group">
                    <label for="postalCode">Postal Code</label>
                    <br>
                    <input class="form-control" type="number" pattern="[0-9]{4,10}" title="Only numbers allowed" id="postalCode" name="postalCode" th:field="*{postalCode}"
                           placeholder="Postal Code"
                           required>
                </div>
                <div class="form-group">
                    <label for="emailId">Email Address</label>
                    <br>
                    <input class="form-control" type="email" id="emailId" name="emailId" th:field="*{emailId}"
                           placeholder="Email Id"
                           required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <br>
                    <input class="form-control" type="password" id="password" name="password" th:field="*{password}"
                           placeholder="Password"
                           required onkeyup="check();">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <br>
                    <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
                           placeholder="Confirm Password"
                           required onkeyup="check();">
                    <span id='message'></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-outline-info" value="Register User">
                </div>

            </form>
            <div class="alert alert-success" th:if="${registrationSuccess}">
                <span>User registered successfully</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>